{% extends 'sadmin/base/base.html' %}
{% block title %} All Movement Pass | Movement Pass BD {% endblock %}

{% block body %}



<div class="container-fluid">



                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-primary">All Movement Pass</h4>
                                   <!-- <div class="right" style="float: right;"><a href="" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> Add Movement Pass </a></div> -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>User Name </th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th> Tracking ID </th>
                                                    
                                                    <th>Status</th>
                                                    <th>View</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for p in pass %}
                                                <tr>
                                                    
                                                    <td><a href="{% url 'single_pass' p.id %}"> {{ p.user.name }}</a></td>
                                                    <td> {{ p.from_m }}</td>
                                                    <td>{{ p.to_m }}</td>
                                                    <td> {{ p.id }}</td>
                                                    
                                                    {% if p.is_approved == True %}
                                                    <td> Approved </td>
                                                    {% else %}
                                                    <td> Pending </td>
                                                    {% endif %}
                                                    <td> <a href="{% url 'single_pass' p.id %}"><i class="fa fa-eye"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                              
                                            </tbody>
                                        </table>
                                      </div> 
                                </div> 
                            </div>

</div>
{% endblock %}