{% extends 'base/base.html' %}

{% block title %} Movement Pass {% endblock %}
{% block custom_css %}
.user-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    /*border:5px solid #040158;*/
    border: solid 1px #b9d3e0;
    padding: 5px;
    background-clip: content-box; /* support: IE9+ */
    background-color: #d7e5ec;
}

.span-arrow {
    line-height: 47px;
}

@media  only screen
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px) {
    .smx-img {
        width: 42%;
    }

    .smx-text {
        font-size: 97%;
    }

    .span-arrow {
        line-height: 12px;
    }
}

@media  screen and (min-width: 768px) {
    .margin-top {
        margin-top: 8% !important;
    }
}
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}


<main id="main">
    <section id="home" class="home" style="margin-top:50px">

        {% if messages %}
        <div class="messages" style="width: 50%; margin:0 auto;" >
            {% for message in messages %}
                <div class="alert alert-primary" {% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% endfor %}
        </div>
        {% endif %}

        <div class="container margin-top" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12">



                <div class="text-center">
                        {% load static %}
                        {% if user.passuser.image %}
                                        <img src="{{ user.passuser.image.url }}"
                             class="img-fluid user-img" alt="image"> 
                        {% else %}
                        <img src="{% static 'img/user.png' %}"
                        class="img-fluid user-img" alt="image" ></div> 
                        {% endif %}                   
                    
                    </div>
                        </div>
        <div class="col-lg-8 col-sm-12 col-md-12 m-auto ">
            <h5 class="text-muted mt-3 sma smx-text" style="line-height: 28px">
                                    Greetings! <strong>{{ user.passuser.name }}</strong>,<br>
                    Only in case of emergency, you can use this tool to get permission from the concerned police department by maintaining the hygiene rules in the lockdown.                            </h5>
            <div class="row">
                                    <div class="col-md-4 mt-2"><a href="{% url 'apply' %}"
                                                  class="btn btn-block btn-success mt-1">Apply</a>
                    </div>
                    <div class="col-md-1 mt-2 text-center pl-0 pr-0"><span class="align-middle span-arrow"><i
                                    class="bi bi-arrow-right-circle d-none d-md-block"></i><i
                                    class="bi bi-arrow-down-circle d-block d-sm-none"></i></span></div>
                    <div class="col-md-4 mt-2"><a href="{% url 'collect' %}"
                                                  class="btn btn-block btn-info mt-1">Collect</a>
                    </div>
                    <div class="col-md-3"></div>
                                                    <div class="col-md-12 mt-3 text-center"><a class="d-block d-sm-none" href="https://movementpass.police.gov.bd/logout"
                                                               style="margin-left:15px;" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"><i
                                    class="bi bi-box-arrow-right"></i> Logout</a></div>
                            </div>


        </div>
    </div>
    </section>
</main>


{% else %}


<main id="main">
    <section id="home" class="home" style="margin-top:50px">
        <div class="container margin-top" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="text-center">
                <img src="{% static 'img/user.png' %}"
                         class="img-fluid smx-img" alt="image" style="max-width: 60%;"></div>
                    </div>
        <div class="col-lg-8 col-sm-12 col-md-12 m-auto ">
            <h5 class="text-muted mt-3 sma smx-text" style="line-height: 28px">
                                    Greetings! Only in case of emergency, you can use this tool to get permission from the concerned police department by maintaining the hygiene rules in the lockdown.                            </h5>
            <div class="row">
                                    <div class="col-md-3 mt-2"><a href="{% url 'register' %}"
                                                  class="btn btn-block btn-primary mt-1">Register</a>
                    </div>
                    <div class="col-md-1 mt-2 text-center pl-0 pr-0"><span class="align-middle span-arrow"><i
                                    class="bi bi-arrow-right-circle d-none d-md-block"></i><i
                                    class="bi bi-arrow-down-circle d-block d-sm-none"></i></span></div>
                    <div class="col-md-3 mt-2"><a href="{% url 'apply' %}"
                                                  class="btn btn-block btn-success mt-1">Apply</a>
                    </div>
                    <div class="col-md-1 mt-2 text-center pl-0 pr-0"><span class="align-middle span-arrow"><i
                                    class="bi bi-arrow-right-circle d-none d-md-block"></i><i
                                    class="bi bi-arrow-down-circle d-block d-sm-none"></i></span></div>
                    <div class="col-md-3 mt-2"><a href="{% url 'collect'%}"
                                                  class="btn btn-block btn-info mt-1">Collect</a>
                    </div>
                    <div class="col-md-1"></div>
                                                <div class="col-md-12 mt-3 text-center">
                                    <a class="d-block d-sm-none" href=https://movementpass.police.gov.bd/locale/bn>বাংলা </a>
                                    
                </div>
                            </div>


        </div>
    </div>
    </section>
</main>

{% endif %}

{% endblock %}