<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'font/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}  {% endblock %}</title>
    <style>{% block custom_css %} {% endblock %}</style>
  </head>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <a href="{% url 'home' %}" class="logo mr-auto">
            <img src="/assets/img/police-logo.png" alt="" class="img-fluid">
            MOVEMENT PASS BD        </a>
        <!-- Uncomment below if you prefer to use text as a logo -->
        <!-- <h1 class="logo mr-auto"><a href="index.html">Butterfly</a></h1> -->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                      {% if request.user.is_authenticated %}
                        {% if user.passuser.is_admin == True %}
                      <li><a href="{% url 'dashboard' %}"> <i class="fas fa-tachometer-alt"></i> Admin Dashboard </a></li>
                        {% endif %}
                      <li><a href="{% url 'apply' %}"> Apply Pass </a></li>
                      <li><a href="{% url 'collect' %}">Collect Pass </a></li>
                      <li><a href="{% url 'edit_profile' %} ">Edit Profile</a></li>
                      <li><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
                      {% else %}
                    <li><a href="{% url 'apply' %}"> Apply </a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">  Log In</a></li>
                    {% endif %}
                    
                                
     

                
                            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
  <body>

{% block body %} 

    


 {% endblock %}
 <footer class="text-muted footer">
  <div class="container">
    <p class="text-center">&copy; Made by Yeasin | Version 1.0.1 </p>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>