{% extends 'base/base.html' %}

{% block title %} Login | Movement Pass {% endblock %}

{% block body %}
<main id="main">
    <section id="home" class="home" style="margin-top:50px">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

                {% if messages %}
            <div class="messages" >
                {% for message in messages %}
                    <div class="alert alert-primary" {% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endfor %}
            </div>
            {% endif %}

            <div class="card">
                <img src="https://movementpass.police.gov.bd/assets/img/bd-police.png" class="mt-2 card-img-top mx-auto d-block" style="height: 100px; width: 100px; object-fit: contain; object-position: top" alt="logo">
                    <h3 class="text-center mt-1">Log In</h3>
                <div class="card-body" style="padding-top:0px;">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="mobile">Mobile Number</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+88</span>
                                </div>
                                <input type="text" name="phone" value=""
                                       class="form-control "
                                       placeholder="015XX-XXX-XXX" required autocomplete="mobile" autofocus aria-label="mobile"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                                <input id="password"  placeholder="" type="password" class="form-control " name="password" required autocomplete="off">

                        </div>
                        


                        <div class="form-group mb-0">
                            <div class="text-center">
                                <button type="submit" class="btn btn-block btn-primary">
                                    Log In                                </button>

                                <a class="mt-2 btn btn-link" href="{% url 'register' %}"> If you don't have an account please register</a>
                            </div>








                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
</main>
{% endblock %}