{% extends 'base/base.html' %}

{% block title %} Apply | Movement Pass {% endblock %}

{% block body %}

<main id="main">
    <section id="home" class="home" style="margin-top:50px">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                                    <div class="card">
                        <div class="card-header">Provide necessary information for movement pas</div>
                        
                        <div class="card-body">
                            <form class="form-row" id="pass_form" action="{% url 'apply' %}" method="post"
                                  enctype="multipart/form-data">
                                                                {% csrf_token %}
                                  <div class="form-group col-md-6">
                                    <label for="from_destination">Location From <span class="text-danger">*</span></label>
                                   {{ forms.from_m }}
                                                                    </div>
                                <div class="form-group col-md-6">
                                    <label for="to_destination">Where to go <span class="text-danger">*</span></label>
                                    {{ forms.to_m }}
                                                                    </div>

                
                                <div class="form-group col-md-6">
                                <label for="district">District of your destination <span class="text-danger">*</span></label>
                                {{ forms.district }}
                                                                </div>

                            <div class="form-group col-md-6">
                                <label for="thana">Subdistrict at your destination<span
                                        class="text-danger">*</span></label>
                                        {{ forms.sub_dristrict }}
                                                                 </div>
                                           
                                
                                <div class="form-group col-md-6">
                                <label for="pass_time">Please select a date and time for the Pass<span
                                            class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                        </div>
                                       {{ forms.date }}
                                    </div>                    
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="duration">Set a time limit to stay out<span
                                            class="text-danger">*</span></label>
                                            {{ forms.time_spand }}
                                                                    </div>
                                
                                                                    <div class="form-group col-md-6">
                                                                        <label for="pass_reason">Movement Type <span
                                                                                class="text-danger">*</span></label>
                                                                                {{ forms.move }}
                                                                    </div>                                                         

                                <div class="form-group col-md-6">
                                    <label for="pass_reason">Reason for the Movement Pass<span
                                            class="text-danger">*</span></label>
                                            {{ forms.reason }}
                                </div>


                                <div class="form-group col-md-12">
                                </div>
                                
                                <div class="col-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-2"><i class="bi bi-check2"></i> Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                            </div>
        </div>
    </div>

    <style>
    .consent_div {
    display: flex;
    }

    .consent_div input {
        margin: 0px;
        margin-top:5px;
    }

    .consent_div label {
        margin-left: 15px;
        vertical-align: top;
    }

    </style>

    </section>
</main>
{% endblock %}