{% extends 'sadmin/base/base.html' %}
{% block title %} Dashboard | Movement Pass BD {% endblock %}
{% block body %}
<div class="row">

    <!-- Total Users -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Users </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ total_user }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-blue-300" style="color:blue"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <!-- Total Pass Show -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Total Movement Pass</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pass }}</div>
                                            </div>
                                            <div class="col-auto">
                                                
                                                <i class="fas fa-running fa-2x" style="color:green"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                    <!-- New Approved  Pass -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-info shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Total Approved Pass </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ approved }}</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-thumbs-up fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                                        <!-- New Pending Pass -->
                                                                        <div class="col-xl-3 col-md-6 mb-4">
                                                                            <div class="card border-left-warning shadow h-100 py-2">
                                                                                <div class="card-body">
                                                                                    <div class="row no-gutters align-items-center">
                                                                                        <div class="col mr-2">
                                                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                                                New Pending Pass </div>
                                                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending }}</div>
                                                                                        </div>
                                                                                        <div class="col-auto">
                                                                                            <i class="fas fa-thumbs-down fa-2x" ></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                            <!-- New Expired Pass -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                   New Expired Pass</div>
                                                <div class="h5 mb-0 font-weight-bold text-red-800">{{ total_pass }}</div>
                                            </div>
                                            <div class="col-auto">
                                                
                                                <i class="fas fa-stopwatch fa-2x" style="color:red"></i>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <!-- Total Movement Reasons -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Mevement Reasons </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pass }}</div>
                                            </div>
                                            <div class="col-auto">
                                                
                                                <i class="fas fa-archive fa-2x " style="color: green;"></i>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                 <!-- Distrcit Register -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Total District</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pass }}</div>
                                            </div>
                                            <div class="col-auto">
                                                
                                                <i class="fas fa-globe-asia fa-2x"></i>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Total Movement Pass</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pass }}</div>
                                            </div>
                                            <div class="col-auto">
                                                
                                                <i class="fas fa-archive fa-2x " style="color: green;"></i>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
                                    
{% endblock %}
